@import '../../styles/abstracts';

.container {
  align-items: center;
  background-color: darken($brand, 2%);
  display: flex;
  justify-content: center;
  min-height: rem(250);
  padding: rem(30);
}
