@import '../../styles/abstracts';

.container {
  background-color: darken($brand, 2%);
  display: block;
  transition: all 0.15s ease;
  width: 100%;

  &.hasError {
    box-shadow: 0 0 0 rem(1) $error;
  }
}

a.container {
  &:hover,
  &:focus {
    box-shadow: 0 0 0 rem(2) lighten($brand, 14%);
  }
}

.head {
  background-color: darken($brand, 4%);
  font-size: rem(20);
  padding: rem(12 16);
}

.body {
  padding: rem(16);
}
